/* Arquivo CSS Tema Light */

@charset "UTF-8";

/* estilização base */

:root{
    --cor0: #000;
    --cor1: #021B33;
    --cor2: #12577B;
    --cor3: #A9CFE5;
    --cor4: #d3d3d3;
    --cor5: #F7F7F7;
    --cor-body: #ababab;
    --shadow: 0px 7px 7px #ffffff6b;
}

body{
    background-color: var(--cor-body);
}

/* Cabeçalho */

header{
    background-color: var(--cor4);
    color: var(--cor0);
}

header a{
    color: var(--cor0);
}

#accessibility-button button {
    color: var(--cor0);
    background-color: var(--cor3);
}

#accessibility-button button:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

/* Barra de Navegação */

nav{
    background-color: var(--cor4);
    box-shadow: var(--shadow);
}

.tres_barrinhas {
    background-color: var(--cor0);
}

.nav_links {
    background-color: var(--cor4);
    box-shadow: var(--shadow);
}

.nav_links a {
    color: var(--cor0);
}

.nav_links a:hover {
    background-color: var(--cor3);
}

nav a, nav button {
    color: var(--cor0);
    background-color: var(--cor4);
}

nav a:hover, nav button:hover {
    background-color: var(--cor3);
    border: 3px solid var(--cor0);
}

/* Conteúdo */

main{
    background-color: var(--cor2);
    box-shadow: var(--shadow);
}

main a.interno{
    color: var(--cor5);
}

main a.externo{
    color: var(--cor5);
}

/* Rodapé */

footer{
    background-color: var(--cor4);
    color: var(--cor0);
}

footer a{
    color: var(--cor0);
}

/* Estilização de tabelas */

table{
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 25px;
    width: 75vw;
    background-color: var(--cor0);
    min-width: 200px;
    max-width: 650px;
}

caption{
    padding: 20px;
}

thead {
    position: sticky;
    top: 75px;
    background-color: var(--cor0);
    z-index: 1;
}

tbody >tr:nth-child(odd){
    background-color: var(--cor1);
}

th, td{
    border: 2px solid var(--cor5);
    padding: 15px;
}

th{
    text-align: center;
}

td{
    text-align: justify;
}

table .num{
    width: 50px;
    text-align: center;
}

/* Código exemplo */
div.code, .resultado{
    margin: 5px 10%;
    padding: 10px;
    border: 1px dashed var(--cor5);
    border-radius: 10px;
    background-color: var(--cor0);
    color: var(--cor5);
}

div.resultado p{
    margin: 0 0 10px 0;
}

div.resultado ol{
    margin: 0 10%;
}

div.resultado div.codigo{
    border: 0;
    border-radius: 0;
    font-family: monospace;
    padding: 5px 25px;
    background-color: var(--cor1);
}

div.resultado img{
    width: 100%;
}

div.code p{
    text-align: start;
    font-family: monospace;
    word-wrap: break-word;
    margin: 25px;
}

div.resultado p.code{
    text-align: start;
    font-family: monospace;
    word-wrap: break-word;
    margin: 25px;
    padding: 10px;
    background-color: var(--cor1);
}

div.resultado div.code{
    text-indent: 10pt;
}

.centro{
    text-align: center;
}

.direita{
    text-align: right;
}

.esquerda{
    text-align: left;
}

/* Caixa de downloads */
aside{
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--cor5);
    border-radius: 10px;
    background-color: var(--cor0);
}

ul ol, ol ul{
    margin: 0 5%;
    font-family: monospace;
}