@charset "UTF-8";

:root{
    --fundo: #e3f2fd;
    --tabela: #fff;
    --destaque: #90caf9;
    --interativo: #42a4f5;
    --título: #1565c0;
    --detalhes: #0d47a1;
    --texto: #000;
    --cor-body: #ccc;
    --shadow: 0px 7px 7px #0000006b;
    --borda_padrão: 2px solid var(--detalhes);
    --borda_traçada: 2px dashed var(--detalhes);
}

body{
    background-color: var(--cor-body);
    color: var(--texto);
}

a {
    color: var(--texto);
}

header{
    background-color: var(--destaque);
}

header h1{
    color: var(--título);
}

#accessibility-button button {
    background-color: var(--interativo);
}

#accessibility-button button:hover {
    background-color: var(--destaque);
}

nav, .nav_links {
    background-color: var(--destaque);
    box-shadow: var(--shadow);
}

.tres_barrinhas {
    background-color: var(--texto);
}

nav button {
    background-color: var(--destaque);
}

nav a:hover, nav button:hover {
    background-color: var(--interativo);
    border: var(--borda_padrão);
}

main{
    background-color: var(--fundo);
    box-shadow: var(--shadow);
}

table, thead{
    background-color: var(--tabela);
}

tbody >tr:nth-child(odd){
    background-color: var(--destaque);
}

th, td{
    border: var(--borda_padrão);
}

div.code, .resultado{
    border: var(--borda_traçada);
    background-color: var(--destaque);
}

div.codigo, p.code {
    background-color: var(--destaque);
}

aside{
    border: var(--borda_padrão);
    background-color: var(--destaque);
}

footer{
    background-color: var(--destaque);
}