@charset "UTF-8";

:root {
    --fundo1: #fff;
    --fundo2: #d3d3d3;
    --borda: #000;
    --fonte: #000;
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 25px;
    width: 75vw;
    background-color: var(--fundo1);
    min-width: 200px;
    max-width: 650px;
}

caption{
    padding: 20px;
}

thead {
    position: sticky;
    top: 75px;
    background-color: var(--fundo1);
    z-index: 1;
}

tbody >tr:nth-child(odd){
    background-color: var(--fundo2);
}

th, td{
    border: 2px solid var(--borda);
    padding: 15px;
}

th{
    text-align: center;
}

td{
    text-align: justify;
}

table .num{
    width: 50px;
    text-align: center;
}

/* Código exemplo */
div.code, .resultado{
    margin: 5px 10%;
    padding: 10px;
    border: 1px dashed var(--borda);
    border-radius: 10px;
    background-color: var(--fundo1);
    color: var(--fonte);
}

div.resultado p{
    margin: 0 0 10px 0;
}

div.resultado ol{
    margin: 0 10%;
}

div.resultado div.codigo{
    border: 0;
    border-radius: 0;
    font-family: monospace;
    padding: 5px 25px;
    background-color: var(--fundo2);
}

div.resultado img{
    width: 100%;
}

div.code p{
    text-align: start;
    font-family: monospace;
    word-wrap: break-word;
    margin: 25px;
}

div.resultado p.code{
    text-align: start;
    font-family: monospace;
    word-wrap: break-word;
    margin: 25px;
    padding: 10px;
    background-color: var(--fundo2);
}

div.resultado div.code{
    text-indent: 10pt;
}

.centro{
    text-align: center;
}

.direita{
    text-align: right;
}

.esquerda{
    text-align: left;
}

/* Caixa de downloads */
aside{
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--borda);
    border-radius: 10px;
    background-color: var(--fundo1);
}

ul ol, ol ul{
    margin: 0 5%;
    font-family: monospace;
}