@charset "UTF-8";

:root {
  --background-color: #f0f0f0;
  --font-title: "Georgia", serif;
  --font-text: "Arial", sans-serif;
  --first-color: #3498db;
  --second-color: #b3cde8;
  --third-color: #e74c3c;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-text);
}

a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: var(--first-color);
  background-color: var(--background-color);
}

header {
  font-family: var(--font-title);
  background-color: var(--first-color);
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: var(--first-color);
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

nav a {
  padding: 10px 20px;
}

main {
  padding: 20px;
  background-color: var(--second-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 768px;
  margin: auto;
}

.estandes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}

.estandes div {
  background-color: var(--background-color);
  border-left: 5px solid var(--third-color);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.acessibilidade {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#acessibilidade,
#aumentar,
#diminuir {
  background-color: var(--third-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

#acessibilidade:hover,
#aumentar:hover,
#diminuir:hover {
  background-color: var(--first-color);
}

.acessibilidade-opcoes {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--first-color);
  padding: 10px;
  border-radius: 8px;
  display: none;
}

footer {
  background-color: var(--first-color);
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
