@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap");

:root {
  --background-color: #f0f0f0;
  --font-title: "Bitcount Grid Double", system-ui;
  --font-text: "Arial", sans-serif;
  --first-color: #3498db;
  --second-color: #b3cde8;
  --third-color: #e74c3c;
  --text-color: #333;
  --backgroung-footer: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-text);
}

a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

a:hover {
  color: var(--first-color);
  background-color: var(--background-color);
}

nav {
  background-color: var(--first-color);
  padding: 25px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  width: 100%;
}

menu button {
  background-color: var(--first-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

menu button:hover {
  background-color: var(--second-color);
}

.links {
  top: auto;
  display: none;
  width: 100%;
  padding: 10px;
  position: fixed;
  right: 0;
  background-color: var(--first-color);
  flex-direction: column;
}

main {
  background-color: var(--second-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  padding: 100px 10px 10px;
}

section {
  background-color: var(--background-color);
  border-left: 5px solid var(--third-color);
  border-radius: 10px;
  padding: 25px;
  max-width: 990px;
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  margin: 25px auto;
}

section div {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

section div a {
  float: right;
  padding: 0;
}

.logo-link {
  width: 75px;
  margin: 10px;
}

.logo {
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reference {
  font-size: 0.8em;
  display: block;
}

section div p {
  margin: 10px;
  color: var(--text-color);
}

footer {
  background-color: var(--backgroung-footer);
  color: white;
  text-align: center;
  padding: 25px;
  width: 100%;
}

.acessibilidade {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.acessibilidade button {
  width: 50px;
  height: 50px;
}

#acessibilidade,
#aumentar,
#diminuir {
  background-color: var(--third-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

#acessibilidade:hover,
#aumentar:hover,
#diminuir:hover {
  background-color: var(--first-color);
}

.acessibilidade-opcoes {
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px;
  border-radius: 8px;
  display: none;
}

@media (min-width: 990px) {
  menu button {
    display: none;
  }

  .logo-link {
    width: 300px;
  }

  nav {
    background-color: var(--first-color);
    padding: 25px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
  }

  .links {
    top: auto;
    display: flex;
    width: 100%;
    padding: 0;
    position: unset;
    right: 0;
    background-color: var(--first-color);
    flex-direction: row;
  }

  section div {
    display: flex;
  }

  a img {
    width: 100%;
  }

  section div img {
    max-width: 50%;
    height: auto;
  }

  section div p {
    margin: 25px;
  }
}
