@charset 'UTF-8';

:root {
  --fundo: #387bd8;
  --destaque: #011327;
  --interativo: #0e3c55;
  --shadow: 0px 7px 7px #0000006b;
  --borda_padrão: 2px solid #999;
}

/* Conteúdo principal */
main .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  margin: 25px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: var(--interativo);
}

div.card:hover {
  transform: translateY(-5px);
}

div.card .icon {
  font-size: 6rem;
  margin: 15px;
  width: 1em;
  height: 1em;
  color: var(--texto);
}

div.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.card p {
  margin: 25px;
  text-align: justify;
}

div.card article.buttonCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

div.card article.buttonCard a {
  display: block;
  margin: 15px;
  padding: 10px;
  border: var(--borda_padrão);
  border-radius: 5px;
  background-color: var(--destaque);
}

@media (min-width: 990px) {
  main .container {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  div.card h2,
  div.card h3,
  div.card p,
  div.card ul,
  div.card li,
  div.card article.buttonCard {
    max-width: 25vw;
  }
}
