@charset "UTF-8";

@font-face {
  font-family: "Sour Gummy";
  src: url(../fonts/Sour_Gummy/SourGummy.ttf) format("truetype");
}
@font-face {
  font-family: "Aldrich";
  src: url(../fonts/Aldrich/Aldrich-Regular.ttf) format("truetype");
}

/* estilização base */

:root {
  --destaque: #387bd8;
  --fundo: #011327;
  --interativo: #0e3c55;
  --texto: #fff;
  --cor-body: #333;
  --shadow: 0px 7px 7px #0000006b;
  --borda_padrão: 2px solid var(--texto);
  --fonte01: Arial, Helvetica, sans-serif;
  --fonte02: "Sour Gummy", serif;
  --fonte03: "Aldrich", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.8rem;
  font-family: var(--fonte01);
  line-height: 1.6rem;
  color: var(--texto);
  background-color: var(--cor-body);
}

a {
  text-decoration: none;
  color: var(--texto);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
  font-family: var(--fonte02);
  text-align: center;
}

/* Cabeçalho */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  background-color: var(--destaque);
}

header button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--destaque);
}

header button:hover {
  border: var(--borda_padrão);
  background-color: var(--interativo);
}

div.nav_links {
  display: none;
}

/* Conteúdo Principal */
main {
  background-color: var(--destaque);
}

main section {
  min-height: 50vh;
  padding: 10%;
}

main section:nth-child(odd) {
  background-color: var(--fundo);
}

main p {
  text-align: justify;
}

section#home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section#home a {
  margin: 25px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--interativo);
}

section#home a:hover {
  border: var(--borda_padrão);
  text-decoration: none;
  transform: translatey(-5px);
}

main .icon {
  font-size: 4rem;
  margin: 15px;
  width: 1em;
  height: 1em;
}

/* Rodapé */
footer {
  padding: 5%;
  background-color: var(--destaque);
}

footer .container_footer {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
  border-top: var(--borda_padrão);
}

@media (min-width: 990px) {
  body {
    font-size: 1rem;
  }
}
