body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    font-size: 1rem;
}

header,
footer {
    grid-column: 1 / -1;
}

#nav-links-button {
    display: none;
}

.nav_links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
}

.nav_links a {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 6px;
}

main,
aside {
    grid-column: 2 / -2;
}

main p,
aside {
    padding-left: 0;
    padding-right: 0;
}