@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: grey;
  color: #fff;
}

header h1 {
  flex: 0 0 200px;
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

header nav a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: black;
  color: white;
}
header nav a:hover {
  background-color: darkgray;
  color: black;
  transition: background-color 0.5s;
}

main {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}
